spring:
  application:
   name: activityservice

  mongodb:
      uri: mongodb://localhost:27017/aiactivityfitness
      database: aiactivityfitness

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

eureka:
  instance:
    prefer-ip-address: true
    hostname: localhost
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/


kafka:
  topic:
    name: activity-events
server:
  port: 8082










